/****** Variables ******/
$color-font-base: #fff;
$color-font-paragraph: #2c2c54;
$color-background-section: #0097e6;
$color-background-icons: #ff5252;
$font-family-base: 'Inconsolata', monospace;
$transition-buttons: all .8s;
$transition-icons: all .6s;

/****** Global ******/
*, *::before, *::after {        // do rozmiaru każdego elementu HTML wlicza się padding i border
	box-sizing: border-box;
}
body {
  margin: 0;
  text-align: center;
  color: $color-font-paragraph;
  font-size: 1em;
  line-height: 1.7;
  font-family: $font-family-base;
}
section {
  padding: 70px 0;
  position: relative;
}
.container {
  max-width: 1140px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto; // wycentrowanie w poziomie
}
.btn { // ostylowanie linków na przyciski
  display: inline-block; // elementy liniowe z możliwością ustawienia właściwości margin, padding, width i height
  min-width: 160px;
  padding: 16px;
  border: 2px solid;
  border-radius: 5px;
  text-decoration: none;
  background-color: inherit;
}
.section-title {
  text-align: left;
  font-size: 48px;
  margin: 0 0 72px 0;
}
.page-title {
  margin: 0;
  font-size: 50px;
  word-spacing: normal;
  line-height: 1.2;
  font-weight: 700;
}
.page-subtitle {
  margin: 24px 0;
  font-size: 16px;
  font-weight: 300;
}
.wraper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

/****** Navigation ******/
.navigation {
  background-color: $color-background-section;
  padding: 12px 0;
  ul {
    list-style-type: none;
    text-align: left;
    a {
      text-decoration: none;
      color: $color-font-base;
    }
  }
}
.horizontal-menu { // menu pierwszego poziomu
  padding: 0;
  margin: 0;
  li {
    &:hover .dropdown { // wyświetlenie menu drugiego poziomu
      display: block;
    }
    a:hover {
      color: #33d9b2;
    }
  }
}
.dropdown { // menu drugiego poziomu
  display: none;
  background: #fff;
  padding: 12px;
  li {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    a {
      color: #0097e6;
      display: block; // ustawienie szerokości linków na 100% szerokości rodzica
      padding: 0 24px;
      &:hover {
        color: #ff5252;
      }
    }
  }
}

/****** Header ******/
.splash {
  background: $color-background-section;
  color:  $color-font-base;
  min-height: 500px;
  display: flex; // właściowść pozwalająca zarządzać elementami zagnieżdżonymi w kontenerze wg podejścia flexbox
  &-inner {
    max-width: 85%;
    margin: auto; // wyśrodkowanie elementu w pionie i poziomie wewnątrz elastycznego (flex) kontenera
    text-align: left;
    span {
      font-style: italic;
      font-weight: 100;
    }
    .btn-one {
      border-color: #fff;
      color:#fff;
    }
  }
}

/****** Services ******/
.box-one {
  position: relative;
  min-height: 330px;
  text-align: left;
  margin-bottom: 50px;
  .service-name {
    font-size: 24px;
    margin: 0 0 12px 0;
    text-align: left;
    line-height: 1;
  }
  .number {
    position: absolute;
    top: -45px;
    color: #33d9b2;
    opacity: 0.3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
  }
  p {
    text-align: left;
    padding-left: 10px;
    &:first-of-type {
      font-family: 'Signika', sans-serif;
    }
  }
  .btn {
    &-two {
      border-color:  #33d9b2;
      color:  #33d9b2;
    }
    &-three {
      border-color: #ff5252;
      color: #ff5252;
    }
    &-four {
      border-color: #0097e6;
      color: #0097e6;
    }
  }
}

/****** Works ******/
.box-two {
  position: relative;
  .work-image {
    position: relative;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background-color: grey;
      opacity: 0.3;
      left: 10px;
      top: 10px;
    }
  }
  .work-description {
    text-align: left;
    .btn-five {
      border: none;
      margin-bottom: 36px;
      padding: 0;
      text-align: left;
      transition: none; // wyłączenie animacji zmian wartości
    }
  }
}

/****** Contact ******/
.contact {
  background-color: $color-background-section;
  padding: 12px 0;
  color:  $color-font-base;
  min-height: 500px;
  .page-title {
    text-align: left;
  }
  form {
    margin-bottom: 20px;
    input, textarea {
      background-color: $color-background-section;
      color: $color-font-base;
      display: block;
      width: 100%;
      border: none;
      border-bottom: 5px solid $color-font-base;
      margin-bottom: 20px;
      &::placeholder {
        color: $color-font-base;
      }
      &:focus{
        outline: none;
      }
    }
    .btn-six {
      border-color: #fff;
      color:#fff;
      margin-bottom: 10px;
      cursor: pointer;
    }
  }
  .contact-data {
    text-align: left;
    span {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

/****** Footer ******/
.footer {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 48px 0;
    li {
      display: inline-block;
      &:not(:last-child) {
        margin: 0 36px 0 0;
      }
    }
  }
  a {
    font-size: 0;
    i {
      font-size: 30px;
      background: $color-background-icons;
      width: 60px;
      height: 60px;
      line-height: 60px;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      transition: $transition-icons;
    }
  }
}

/****** Media ******/
@media screen and (min-width: 376px) {
  .horizontal-menu {
    > li { //odniesienie do bezpośredniego potomka
      display: inline-block; // wyświetlenie elementów menu poziomo z możliwością ustawienia ich wymiarów
      position: relative; // dziecko tego elementu będzie pozycjonowane względem swojego rodzica
      &:not(:first-child) {
        a {
          border-left: 1px solid #40b3c3;
          padding-left: 10px;
        }
      }
      &:hover .dropdown {
        position: absolute; // pozycjonowanie menu drugiego poziomu względem
        top: 25px;          // elementu pierwszego poziomu
        left: 0;
        padding: 12px;
      }
    }
  }
  .splash {
    justify-content: left;
  }
  .splash-inner {
    max-width: 70%;
  }
  .box-two {
    .work-image {
      max-width: 80%;
    }
  }
  .contact {
    form {
      max-width: 80%;
    }
  }
}
@media screen and (max-width: 768px) { //dotykowe urządzenia (bez możliwości użycia stanu :hover)
  .btn:active {
    background-color: #fff;
  }
  .splash {
    &-inner {
      .btn-one:active {
        color: #0097e6;
      }
    }
  }
  .box-one {
    .btn {
      &-two:active {
        background-color:  #33d9b2;
      }
      &-three:active {
        background-color: #ff5252;
      }
      &-four:active {
        background-color: #0097e6;
      }
      &:active {
        color: #fff;
      }
    }
  }
  .box-two {
    .work-description {
      .btn-five:active {
        font-weight: bold;
        color: #cd1a53;
      }
    }
  }
  .contact {
    form {
      .btn-six:active {
        color: #0097e6;
      }
    }
  }
  .footer {
    a {
      i:active {
        color: #1877F2;
      }
    }
  }
}
@media screen and (min-width: 769px) { //dodanie efektu animowania i stanu :hover do przycisków
  .btn {
    background: right/200%;
    transition: $transition-buttons; // dodanie animacji
    &:hover {
      background-position: left; // wysunięcie gradientu
    }
  }
  .wraper {
    flex-direction: row;
  }
  .page-title {
    font-size: 72px;
    word-spacing: -24px;
  }
  .horizontal-menu {
    li {
      margin-right: 36px;
      &:not(:first-child) {
        a {
          border: none;
        }
      }
    }
  }
  .splash {
    &-inner {
      .btn-one {
        background-image: linear-gradient(90deg, #fff 50%, transparent 50%); // zdefiniowanie gradnientu, który pozwoli na płynne przejście pomiędzy kolorami tła
        &:hover {
          color: #0097e6;
        }
      }
    }
  }
  .box-one {
    flex: 0 0 33.333%; // każde z elementów zajmie tyle samo miejsca w kontenerze
    p {
      padding-right: 20px;
    }
    .btn {
      &-two {
        background-image: linear-gradient(90deg, #33d9b2 50%, transparent 50%);    /* tło jako gradient */
      }
      &-three {
        background-image: linear-gradient(90deg,  #ff5252 50%, transparent 50%);    /* tło jako gradient */
      }
      &-four {
        background-image: linear-gradient(90deg, #0097e6 50%, transparent 50%);    /* tło jako gradient */
      }
      &:hover {
        color: #fff;
      }
    }
  }
  .box-two {
    .work-image {
      position: absolute;
      left: 0;
      width: 50%;
      height: 80%;
    }
    .work-description {
      padding: 0 5% 95px 55%;
      .btn-five {
        margin-top: 36px;
        &:hover {
          font-weight: bold;
          color: #cd1a53;
        }
      }
    }
  }
  .contact {
    form {
      flex: 2 0 0; // lub flex: 2
      margin-right: 50px;
      text-align: left;
      .btn-six {
        background-image: linear-gradient(90deg, #fff 50%, transparent 50%);
        &:hover {
          color: #0097e6;
        }
      }
    }
    .contact-data {
      flex: 1 0 0; // lub flex: 1
    }
  }
  .footer {
    a {
      i:hover {
        transform: scale(1.2);
      }
    }
  }
}
@media screen and (min-width: 1025px) { // wersja desktop
  .box-two {
    flex: 0 0 50%;
  }
}

































