/****** Variables ******/
$color-main: #ffffff;
$color-paragraph: #2c2c54;
$color-background: #0097e6;
$color-icons: #ff5252;

$font-family-main: 'Inconsolata', monospace;

$transition-buttons: all 1s;
$transition-icons: all .6s;

/****** Global ******/
*, *::before, *::after {        // do rozmiaru każdego elementu HTML wlicza się padding i border
	box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  color: $color-paragraph;
  font-size: 16px;
  line-height: 1.7;
  font-family: $font-family-main
}

section {
  padding: 96px 0;
  position: relative;
}

.container {
  max-width: 1140px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto; // wycentrowanie w poziomie
}

.btn { // ostylowanie linków na przyciski
  display: inline-block; // elementy liniowe z możliwością ustawienia właściwości margin, padding, width i height
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-color: inherit;
  background-position: right; // schowanie gradientu
  background-size: 300%;
  transition: $transition-buttons; // dodanie animacji do przycisku

  &:hover {
    background-position: left; // wysunięcie gradientu
    color: #ffffff;
  }

  &-one {
    border-color: #ffffff;
    color:#ffffff;
    background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%); // zdefiniowanie gradnientu, który pozwoli na płynne przejście pomiędzy kolorami tła

    &:hover {
      color: #0097e6;
    }
  }

  &-two {
    border-color:  #33d9b2;
    color:  #33d9b2;
    background-image: linear-gradient(90deg, #33d9b2 50%, transparent 50%);    /* tło jako gradient */
    position: absolute;
    left: 0;
  }

  &-three {
    border-color: #ff5252;
    color: #ff5252;
    background-image: linear-gradient(90deg,  #ff5252 50%, transparent 50%);    /* tło jako gradient */
    position: absolute;
    left: 0;
  }

  &-four {
    border-color: $color-background;
    color:$color-background;
    background-image: linear-gradient(90deg, #0097e6 50%, transparent 50%);    /* tło jako gradient */
    position: absolute;
    left: 0;
  }

  &-five {
    border: none;
    margin: 36px 0;
    padding: 0;
    text-align: left;
    transition: none; // wyłączenie animacji zmian wartości

    &:hover {
      font-weight: bold;
      color: #cd1a53;
    }
  }
}

.section-title {
  text-align: left;
  font-size: 48px;
  margin: 0 0 72px 0;
}

.page-title {
  margin: 0;
  font-size: 72px;
  word-spacing: -24px;
  line-height: 1.2;
  font-weight: 700;
}

.page-subtitle {
  margin: 24px 0;
  font-size: 16px;
  font-weight: 300;
}

.wraper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/****** Navigation ******/
.navigation {
  background-color: $color-background;
  padding: 12px 0;
}

 .horizontal-menu { // menu pierwszego poziomu
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: left;

  li {
    display: inline-block; // wyświetlenie elementów menu poziomo
    margin: 0 36px 0 0;
    position: relative; // dziecko tego elementu będzie pozycjonowane względem swojego rodzica

    a {
      text-decoration: none;
      color: $color-main;

      &:hover {
        color: #33d9b2;
      }
    }

    .dropdown { // menu drugiego poziomu
      display: none;
    }

    &:hover .dropdown {   // wyświetlenie menu drugiego poziomu po najechaniu
      display: block;     // myszką na element menu pierwszego poziomu
      text-align: left;
      background: $color-main;
      position: absolute; // pozycjonowanie menu drugiego poziomu względem
      top: 25px;          // elementu pierwszego poziomu
      left: 0;
      padding: 12px;
    }
  }
}

.dropdown {

  li {
    display: block; // ustawienie elementów menu drugiego poziomu w pionowym rzędzie
    margin: 0 0 12px 0;

    a {
      color: $color-background;
      display: block; // ustawienie szerokości linków na 100% szerokości rodzica
      padding: 0 24px;

      &:hover {
        color: #ff5252;
      }
    }
  }
}

/****** Header ******/
.splash {
  background: $color-background;
  color:  $color-main;
  min-height: 500px;
  display: flex; // właściowść pozwalająca zarządzać elementami zagnieżdżonymi w kontenerze wg podejścia flexbox

  &-inner {
    margin: auto; // wyśrodkowanie elementu w pionie i poziomie wewnątrz elastycznego (flex) kontenera
    max-width: 70%;
    text-align: left;

    span {
      font-style: italic;
      font-weight: 100;
    }
  }
}

/****** Services ******/
.box-one {
  position: relative;
  flex: 0 0 33.333%; // każde z elementów zajmie tyle samo miejsca w kontenerze
  min-height: 330px;

  .service-name {
    font-size: 24px;
    margin: 0 0 12px 0;
    text-align: left;
    line-height: 1;
  }

  .number {
    position: absolute;
    top: -45px;
    height: 100px;
    color: #33d9b2;
    opacity: 0.3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
  }

  p {
    text-align: left;
    padding-left: 10px;

    &:first-of-type {
      font-family: 'Signika', sans-serif;
    }
  }
}

/****** Works ******/
.box-two {
  position: relative;
  flex: 0 0 50%;

  .work-image {
    position: absolute;
    left: 0;
    width: 50%;
    height: 80%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background-color: grey;
      opacity: 0.3;
      left: 10px;
      top: 10px;
    }
  }

  .work-description {
    padding: 0 5% 95px 55%;
    text-align: left;
  }
}

/****** Contact ******/
.contact {
  background-color: $color-background;
  padding: 12px 0;
  color:  $color-main;
  min-height: 500px;

  .page-title {
    text-align: left;
  }

  form {
    flex: 2 0 0; // lub flex: 2
    margin-right: 50px;

    input, textarea {
      background-color: $color-background;
      color: $color-main;
      display: block;
      width: 100%;
      height: 20%;
      border: none;
      border-bottom: 5px solid $color-main;

      &::placeholder {
        color: $color-main;
      }

      &:focus{
        outline: none;
      }
    }

    textarea {
      height: 40%;
      padding-top: 20px;
    }
  }

  .contact-data {
    flex: 1 0 0; // lub flex: 1
    text-align: left;

    span {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

/****** Footer ******/
.footer {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 48px 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 36px 0 0;
    }
  }

  a {
    font-size: 0;

    i {
      font-size: 30px;
      background: $color-icons;
      width: 60px;
      height: 60px;
      line-height: 60px;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      transition: $transition-icons;

      &:hover {
        transform: scale(1.3);
      }
    }
  }
}

/****** Media ******/
@media (max-width: 767px) { // tworzenie wersji mobilnej strony (style mobile)
  .wraper {
    flex-direction: column;
  }

  .page-title {
    font-size: 50px;
    word-spacing: normal;
  }

  .work-image {
    position: relative;
    max-width: 100%;
    height: 150px;
  }

  .work-description {
    padding: 10px 55% 10px 0;
  }

  form {
    margin-bottom: 40px;
  }

  .btn {
    margin: 0;
  }

  .contact {
    min-height: 850px;
  }

  .horizontal-menu li {
    margin: 0 10px 0 0;
  }
}

































